body {
	background: #121111;
	background: url(https://assets.entrepreneur.com/content/3x2/2000/20191219170611-GettyImages-1152794789.jpeg);  
}
h1{
	background:  rgba(0, 0, 0);
	color: rgba(131, 230, 2 , .8);
	border: 2px solid rgba(0, 0, 0, .8)

}


}
